# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/
x64/
Release/
.vs/DriverLoader/v15/ipch/AutoPCH/521a259c4edfde55/SRC.ipch
*.db
*.opendb
